<!DOCTYPE html>
<html lang="{% if page.lang == "en" %}en{% else %}zh-CN{% endif %}">

  {% include head.html %}

  <body>

    {% include topbar.html %}

    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/{% if page.lang == "en" %}en/{% endif %}" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

  </body>
</html>
